@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Krona+One&family=Open+Sans:wght@600&family=Roboto:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@600&family=Roboto:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;

}

body{
    height: 100vh;
    box-sizing: border-box;/*para não vazar conteúdo */
    background-color: #000000;
    color: #F6F6F6;
}

.destaque_titulo{
    color: #22D4FD;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 19.5%;
}
.apresentacao__conteudo{
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px; /*espaçamento entre os elementos filhos*/
}

.apresentacao__conteudo__texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.apresentacao__conteudo__titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 36px;

}
.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__botao{
    font-family: 'Montserrat', sans-serif;
    background-color: #22D4FD;
    width: 280px;
    padding: 21.5px 0px;
    font-size: 24px;
    text-align: center;
    border-radius: 16px;
    text-decoration: none;
    font-weight: 600;
    color: #000000;
}

.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    font-weight: 400;
}